/* importing especial characters */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"); 
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background
{
  position: fixed;
  padding:100%;
  background: rgba(197,199,198,0.35);
  z-index: -100;
  width: 100%;
  height: 100%;
}
.title
{
  color: rgb(121,0,201);
  width: 100%;  
}
.title > img,
.title > .apd,
.title > .frat
{
  display: inline-block;
  text-align: center;
}
.title > .apd
{
  position: relative;
  color: rgb(121,0,201);
  width: 100%;
  font-size: 680%;
  top: 0px;
  text-decoration: underline;
  z-index:-10;
  font-weight: bold;
}
.title > img
{
  position: absolute;
  top: 15px;
  width: 140px;;
  left:2%;
}

.title > .frat
{
  position: absolute;
  top: 120px;
  font-size:200%;
  width: 100%;
  z-index:-10;
}
.horizontal-line
{
  text-align: center;
  position: absolute;
  color: rgb(121,0,201);
  width: 100%;
  font-size: 200%;
  top: 150px;
  z-index:-11;
  padding: 0 0 10px 0;
}


.header {
  display: block;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  width: 505px;
  position: absolute;
  top: 300px;
  right: 50px;
}

.header > input, 
.header > label 
{
  display: none;
}
.header > .main-menu > li
{
  display: inline-block;
  padding: 15px 28px 15px 34px;
  margin:0 -2.3px 0 -1.5px;
 
  color: white;
  font-family: sans-serif;
  font-size: 105;
  text-transform: uppercase;
  transition: 1s;
}
.header > .main-menu > li > a
{
  text-decoration:none;
  color: white;
}
.header > .main-menu > li:hover
{
  background-color: rgb(121,0,201);
  transition: 1s;
}

.slides-text
{
  display: block;
  position: absolute;
  top:750px;
  left: 100px;
  width: 90%;
  text-align: left;
  color: white;
}
.slides-text > li:first-child
{
  list-style-type: none;
  color: white;
  Font-size: 305%;
  Text-align: left;
  font-family: sans-serif;
  text-transform: uppercase;
  width:31%;
}
#slideshow 
{
  position: relative; 
  width: 100%;
  height: 680px;
  overflow: hidden;
  z-index: -1;
  top:70px;
  color: rgb(245,231,235);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

#slideshow > div 
{
  width: 100%;
  overflow: hidden;
}
#slideshow > div > img
{
  position: absolute;
  width: 100%;
  left: 0px;
  top: -100px
}
#slideshow > .s1
{
  width: 100%;
  left: -10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}
.contact 
{
  display: block;
  position: absolute;
  font-family: sans-serif;
  width: 100%;
  top: 1000px;
}
.contact > .president
{
  display: inline-block;
  text-align: center;
  width: 33%;
}
.contact > .president > img
{
  width:50%;
}
.contact > .president > #email 
{
  text-transform: uppercase;
}
.contact > .rush
{
  display: inline-block;
  text-align: center;
  width: 33%;
}
.contact > .rush > img
{
  width:50%;
}
.contact > .rush > #email 
{
  text-transform: uppercase;
}
.contact > .pavel
{
  display: inline-block;
  text-align: center;
  width: 33%;
}
.contact > .pavel > img
{
  width:50%;
}
.contact > .pavel > #email 
{
  text-transform: uppercase;
}
.line2
{
  text-align: center;
  position: absolute;
  color: rgb(121,0,201);
  width: 100%;
  font-size: 200%;
  top: 1570px;
  z-index:-11;
  padding: 0 0 10px 0;
}

iframe
{
  position: absolute;
  display: block;
  width: 80%;
  top: 1680px;
  left: 10%;
}
.footer
{
  display: block;
  position: relative;
  top: 1450px;
  width: 100%;
  padding: 35px 15px 110px 0px;
  background: rgba(97,92,83,0.8);
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}
.footer > .foot-title
{
  position: absolute;
  text-align:left;
  display: inline-block;
  left: 20px;
  top: 25px;
  font-size: 100%;
  width: 33%;
  vertical-align: middle;
}
.footer > .foot-title > h1
{
  font-size: 200%;
}
.footer > .foot-title > h2
{
  font-size: 130%;
}
.footer> .foot-title > h3
{
  font-size: 90%;
}

.footer > .main-links > ul
{
  display: inline-block;
  position: absolute;
  width: 33%;
  font-size: 120%;
  top: 47px;
  left: 33%; 
  list-style-type: none;
}
.footer> .main-links > ul > li > a
{
  color: white;
  text-decoration: none;
  text-align: center;
}
.footer > .social 
{
  display: inline-block;
  position: absolute;
  width: 33%;
  text-align: right;
  right: 10px;
}
.footer > .social > span 
{
  display: block;
  margin: -10px 0;
}
.footer > .social > span:first-child > a > img
{
  position: absolulte;
  width:4%;
  margin: 0px 6px -10px 5px;
}
.footer > .social > span:first-child > a 
{
  width: 16px;
  padding: 6px 0;
  width: 28px;
  padding: 6px 0;
  margin: 0 3px;
/* background color same as the footer background   */
  color: rgba(97,92,83,0.8); 
  background: white;
  text-align: center;
  text-decoration: none;
}
/* 
*
*
*
*
*
*
*
*
*
*
*
*
*
Max width of 1150px
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/

@media (max-width: 1150px) 
{
  .title > .apd
  {
    font-size: 460%;
  }
   .title > img
  {
    width:100px;
    top: 10px;
    left: 30px;
  }
  .title > .frat
  {
    font-size: 150%;
    top: 80px;
  }
  .horizontal-line
  {
    font-size: 140%;
    top: 105px;
  }
  .header 
  {
    display: block;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    width: 405px;
    position: absolute;
    top: 250px;
    right: 50px;
  }

  .header > input, 
  .header > label 
  {
    display: none;
  }
  .header > .main-menu > li
  {
    display: inline-block;
    padding: 10px 14.7px;
    margin:0 -2.3px 0 -2px;

    color: white;
    font-family: sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    transition: 1s;
  }
  .header > .main-menu > li > a
  {
    text-decoration:none;
    color: white;
  }
  .header > .main-menu > li:hover
  {
    background-color: rgb(121,0,201);
    transition: 1s;
  }
  .slides-text
  {
    display: block;
    position: absolute;
    top:600px;
    left: 50px;
    width: 300px;
    text-align: left;
    color: white;
  }
  .slides-text > li:first-child
  {
    list-style-type: none;
    color: white;
    Font-size: 200%;
    Text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
    width:100%;
  }
  #slideshow 
  {
    margin: -10px 0px 0px 0px;
    position: relative; 
    width: 100%;
    height: 640px;
    overflow: hidden;
    z-index: -1;
    top:65px;
    color: rgb(245,231,235);

  }

  #slideshow > div {
    position: absolute;
    top: 1px;
    bottom: 1px;

  }
  #slideshow > div > img
  {
    width: 100%;

  }
  #slideshow > .s1
  {
    width: 131%;
    left: -150px;
  }
  .contact 
  {
    display: block;
    position: absolute;
    font-family: sans-serif;
    width: 100%;
    top: 880px;
    font-size: 70%;
  }
  .contact > .president
  {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .contact > .president > img
  {
    width:50%;
  }
  .contact > .president > #email 
  {
    text-transform: uppercase;
  }
  .contact > .rush
  {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .contact > .rush > img
  {
    width:50%;
  }
  .contact > .rush > #email 
  {
    text-transform: uppercase;
  }
  .contact > .pavel
  {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .contact > .pavel > img
  {
    width:50%;
  }
  .contact > .pavel > #email 
  {
    text-transform: uppercase;
  }
  .line2
  {
    text-align: center;
    position: absolute;
    color: rgb(121,0,201);
    width: 100%;
    font-size: 160%;
    top: 1300px;
    z-index:-11;
    padding: 0 0 10px 0;
  }

  iframe
  {
    position: absolute;
    display: block;
    width: 80%;
    top: 1420px;
    left: 10%;
  }
  .footer
  {
    display: block;
    position: relative;
    top: 1250px;
    width: 100%;
    padding: 35px 15px 122px 0px;
    background: rgba(97,92,83,0.8);
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  .footer > .foot-title
  {
    position: absolute;
    text-align:left;
    display: inline-block;
    left: 20px;
    top: 30px;
    font-size: 85%;
    width: 33%;
  }

  .footer > .main-links > ul
  {
    display: inline-block;
    position: absolute;
    width: 33%;
    font-size: 100%;
    top: 60px;
    left: 33%; 
    list-style-type: none;
  }
  .footer> .main-links > ul > li > a
  {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  .footer > .social 
  {
    display: inline-block;
    position: absolute;
    width: 33%;
    text-align: right;
    right: 10px;
    font-size: 95%;
  }
  .footer > .social > span 
  {
    display: block;
    margin: -10px 0;
  }
  .footer > .social > span:first-child > a > img
  {
    position: absolulte;
    width:4%;
    margin: 0px 6px -5px 5px;
  }
  .footer > .social > span:first-child > a 
  {
    width: 16px;
    padding: 6px 0;
    width: 28px;
    margin: 0 3px;
  /* background color same as the footer background   */
    color: rgba(97,92,83,0.8); 
    background: white;
    text-align: center;
    text-decoration: none;
  }
}
  /*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
**
*
*
*
*
Max width of 900px
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/

@media (max-width: 900px) 
{
  .title > .apd
  {
    font-size: 360%;
  }
   .title > img
  {
    width:75px;
    top: 10px;
    left: 30px;
  }
  .title > .frat
  {
    font-size: 120%;
    top: 60px;
  }
  .horizontal-line
  {
    font-size: 110%;
    top: 75px;
  }
  .header
  {
    right: 10px;
    top: 220px
  }
  .slides-text
  {
    display: block;
    position: absolute;
    top:470px;
    left: 50px;
    width: 300px;
    text-align: left;
    color: white;
  }
  .slides-text > li:first-child
  {
    list-style-type: none;
    color: white;
    Font-size: 200%;
    Text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
    width:100%;
  }
  #slideshow 
  {
    margin: -10px 0px 0px 0px;
    position: relative; 
    width: 100%;
    height: 460px;
    overflow: hidden;
    z-index: -1;
    top:55px;
    color: rgb(245,231,235);
  }
  #slideshow > div 
  {
    position: absolute;
    top: 1px;
    bottom: 1px;
  }
  #slideshow > div > img
  {
    width: 100%;

  }
  #slideshow > .s1
  {
    width: 131%;
    left: -150px;
  }
  .contact 
  {
    display: block;
    position: absolute;
    font-family: sans-serif;
    width: 100%;
    top: 630px;
    font-size: 65%;
  }
  .contact > .president
  {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .contact > .president > img
  {
    width:50%;
  }
  .contact > .president > #email 
  {
    text-transform: uppercase;
  }
  .contact > .rush
  {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .contact > .rush > img
  {
    width:50%;
  }
  .contact > .rush > #email 
  {
    text-transform: uppercase;
  }
  .contact > .pavel
  {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .contact > .pavel > img
  {
    width:50%;
  }
  .contact > .pavel > #email 
  {
    text-transform: uppercase;
  }
  .line2
  {
    text-align: center;
    position: absolute;
    color: rgb(121,0,201);
    width: 100%;
    font-size: 130%;
    top: 970px;
    z-index:-11;
    padding: 0 0 10px 0;
  }

  iframe
  {
    position: absolute;
    display: block;
    width: 80%;
    top: 1080px;
    left: 10%;
  }
  .footer
  {
    display: block;
    position: relative;
    top: 1130px;
    width: 100%;
    padding: 35px 15px 122px 0px;
    background: rgba(97,92,83,0.8);
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  .footer > .foot-title
  {
    position: absolute;
    text-align:left;
    display: inline-block;
    left: 20px;
    font-size: 68%;
    width: 33%;
  }

  .footer > .main-links > ul
  {
    display: inline-block;
    position: absolute;
    width: 33%;
    font-size: 90%;
    top: 60px;
    left: 33%; 
    list-style-type: none;
  }
  .footer> .main-links > ul > li > a
  {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  .footer > .social 
  {
    display: inline-block;
    position: absolute;
    width: 33%;
    text-align: right;
    right: 10px;
    font-size: 85%;
    top:45px;
  }
  .footer > .social > span 
  {
    display: block;
    margin: -10px 0;
  }
  .footer > .social > span:first-child > a > img
  {
    position: absolulte;
    width:4%;
    margin: 0px 6px -5px 5px;
  }
  .footer > .social > span:first-child > a 
  {
    width: 16px;
    padding: 6px 0;
    width: 28px;
    margin: 0 3px;
  /* background color same as the footer background   */
    color: rgba(97,92,83,0.8); 
    background: white;
    text-align: center;
    text-decoration: none;
  }
}
 /* *
****
****
****
****
****
****
****
***
****
****
****
*****
****
**

**
**
*
Max width of 700px
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/

@media (max-width: 500px) 
{
    .header > #nav + label + .main-menu
  {
    /* TODO hide the navbar when checkbox is unchekced, using display: none */
    display: none;
    /* TODO set width 320px and padding 16px   */
    padding: 1px; 
    background-color: rgba(0,0,0,0.7);
    text-align: center;
  }
  .header
  {
    background-color: rgba(0,0,0,0);
    width: 10px;
    top: 15px;
    right: 60px
  }
    .header > #nav:checked + label + .main-menu
  {
    /* TODO show navbar when checkbox is checked, using display: block */
    display: block;
    transition: 1s;
    width: 1750%;
    right: -60px;
  }
  
    .header > .main-menu {
    
    /* TODO position absolute */
    position: absolute;
    /* TODO top/right as 48px/0     */
    top: 48px;
    right: -50px;
    /* TODO z-index 100     */
    z-index: 100;
    /* TODO text align to left */
    text-align: left;
    background-color: rgba(0,0,0,0.7);
  }  
    .header > label {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 16px;

    color: rgba(0,0,0,);
  }
  .title > .apd
  {
    font-size: 230%;
  }
  .title > img
  {
    width:45px;
    top: 10px;
    left: 3%;
  }
  .title > .frat
  {
    font-size: 90%;
    top: 40px;
  }
  .horizontal-line
  {
    font-size: 65%;
    top: 50px;
  }
  .header > .main-menu > li:hover
  {
    background-color: rgb(121,0,201);
    width: 100%;
    transition: 1s;
  }
  .header > .main-menu > li
  {
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
    margin: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    transition: 1s;
  }
/*    */
   .slides-text
  {
    display: block;
    position: absolute;
    top:240px;
    left: 50px;
    width: 200px;
    text-align: left;
    color: white;
  }
  .slides-text > li:first-child
  {
    list-style-type: none;
    color: white;
    Font-size: 150%;
    Text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
    width:100%;
  }
  #slideshow 
  {
    margin: -10px 0px 0px 0px;
    position: relative; 
    width: 100%;
    height: 250px;
    overflow: hidden;
    z-index: -1;
    top:40px;
    color: rgb(245,231,235);

  }

  #slideshow > div {
    position: absolute;
    top: 0px;
    bottom: 1px;

  }
  #slideshow > div > img
  {
    width: 100%;
    left: -150px;
    top: -60px;
  }
  #slideshow > .s1
  {
    width: 151%;
    left: -1px;
  }
   .contact 
  {
    display: block;
    position: absolute;
    font-family: sans-serif;
    width: 100%;
    top: 375px;
    font-size: 65%;
  }
  .contact > .president
  {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .contact > .president > img
  {
    width:40%;
  }
  .contact > .president > #email 
  {
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
  }
  .contact > .rush
  {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .contact > .rush > img
  {
    width:40%;
  }
  .contact > .rush > #email 
  {
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
  }
  .contact > .pavel
  {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .contact > .pavel > img
  {
    width:40%;
  }
  .contact > .pavel > #email 
  {
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
  }
  .line2
  {
    text-align: center;
    position: relative;
    color: rgb(121,0,201);
    width: 100%;
    font-size: 70%;
    top:1250px;
    z-index:-11;
    padding: 0 0 10px 0;
  }

  iframe
  {
    position: absolute;
    display: block;
    width: 80%;
    top: 1620px;
    left: 10%;
  }
  .footer
  {
    display: block;
    position: relative;
    top: 1900px;
    width: 100%;
    padding: 35px 15px 122px 0px;
    background: rgba(97,92,83,0.8);
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  .footer > .foot-title
  {
    position: absolute;
    text-align:left;
    display: inline-block;
    left: 20px;
    font-size: 58.5%;
    width: 33%;
  }
  .footer> .foot-title > h3
  {
    font-size: 110%;
  }

  .footer > .main-links > ul
  {
    display: inline-block;
    position: absolute;
    width: 33%;
    font-size: 80%;
    top: 60px;
    left: 33%; 
    list-style-type: none;
  }
  .footer> .main-links > ul > li > a
  {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  .footer > .social 
  {
    display: inline-block;
    position: absolute;
    width: 33%;
    text-align: right;
    right: 10px;
    font-size: 80%;
    top: 45px;
  }
  .footer > .social > span 
  {
    display: block;
    margin: -10px 0;
  }
  .footer > .social > span:first-child > a > img
  {
    position: absolulte;
    width:4%;
    margin: 0px 6px -5px 5px;
  }
  .footer > .social > span:first-child > a 
  {
    width: 16px;
    padding: 6px 0;
    width: 28px;
    margin: 0 3px;
  /* background color same as the footer background   */
    color: rgba(97,92,83,0.8); 
    background: white;
    text-align: center;
    text-decoration: none;
  }
}